#hierarchicalStructure {
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background: #f9f9f9;
}

.tile {
    cursor: pointer;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px;
    background: #e0e0e0;
    border-radius: 3px;
    transition: background 0.3s;
}

.tile:hover {
    background: #d6d6d6;
}

.sub-container {
    margin-left: 20px;
}

.hidden {
    display: none;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Sidebar styling */
  .sidebar {
    height: 100%; /* Full height */
    width: 0; /* Initially hidden */
    position: fixed; /* Stay in place */
    z-index: 1; /* On top */
    top: 0;
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* Smooth transition */
    padding-top: 60px; /* Padding from top */
  }
  
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Main content styling */
  #main {
    transition: margin-left 0.5s;
    padding: 16px;
    overflow: hidden;
  }
  
  /* Toggle button */
  .toggle-btn {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 10px;
    border: none;
    z-index: 2; /* Ensure it is above other elements */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; /* Fixed width to prevent text overlap */
    height: 25px; /* Fixed height for consistent size */
    text-align: center;
  }
  
  .toggle-btn:hover {
    background-color: #444;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 14px;}
  }